@ -15,6 +15,7 @@ body {
}

h1 {
    font-size: 10px; /* Set the font size of the header to 10px */
    margin-bottom: 20px;
    text-align: center;
}
@ -27,7 +28,8 @@ h1 {
#filters select, #filters input {
    padding: 5px;
    margin: 5px;
    }
    font-size: 10px; /* Set font size to 10px for filter input */
}

#cardGrid {
    display: grid;
@ -46,7 +48,7 @@ h1 {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-size: 10px; /* Set the font size for all text inside the card to 10px */
    font-size: 10px; /* Set font size to 10px for all text inside the card */
}

.card:hover {
@ -62,11 +64,11 @@ h1 {

.card-info {
    padding: 10px;
    font-size: 10px; /* Ensure text inside card info is 10px */
    font-size: 10px; /* Set font size to 10px for text inside card info */
}

.card-info h2 {
    font-size: 10px; /* Set the name font size to 10px */
    font-size: 10px; /* Set the FC name font size to 10px */
    font-weight: 700;
    margin-bottom: 5px;
}
@ -99,6 +101,7 @@ h1 {
}

.close {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
@ -117,7 +120,8 @@ h1 {
.modal-links a {
    color: #007bff;
    text-decoration: none;
    }
    font-size: 10px; /* Set font size for links in the modal */
}

.modal-links .material-icons {
    vertical-align: middle;
